export GTK_IM_MODULE='uim'
export QT_IM_MODULE='uim'
uim-xim &
export XMODIFIERS='@im=uim'

PATH=/home/nikyq/scripts:$PATH
export PATH

setxkbmap -option ctrl:nocaps
setxkbmap -option compose:lctrl

xmodmap -e 'remove mod1 = Alt_R'
xmodmap -e 'keycode 108 = Hangul'
xmodmap -e 'keycode 9 = Hangul_Hanja'
xmodmap -e 'keycode 105 = Escape'
